.wrapper-blockquote {
	padding-top: 93px;
	/*overflow: hidden;*/
	background-color: #fff;
	position: relative;
	blockquote {
		max-width: 1000px;
		width: 100%;
		margin: 0 auto;
		position: relative;
		&:before, &:after {
			content: " ";
			height: 40px;
			width: 60px;
			position: absolute;
		}
		&:before {
			content: " ";
			background: url('../images/quote-l.svg') center center / cover;
			top: -15px;
			left: -85px;
		}
		&:after {
			content: " ";
			background: url('../images/quote-r.svg') center center / cover;
			bottom: 80px;
    		right: -85px;
		}
		p {
			margin-bottom: 25px;
			color: #000;
			line-height: 3.125rem;
			font-size: 1.75rem;
		}
	}
}

@include media-breakpoint-down(lg) { 
	.wrapper-blockquote {
		padding-top: 3rem;
		/*overflow: hidden;*/
		blockquote {
			max-width: 800px;
			p {
				line-height: 2.625rem;
				font-size: 1.35rem;
			}
		}
	}
}
@include media-breakpoint-down(md) { 
	.wrapper-blockquote {
		padding-top: 3rem;
		/*overflow: hidden;*/
		blockquote {
			max-width: 550px;
			p {
				line-height: 2.625rem;
				font-size: 1.35rem;
			}
			&:before {
				content: " ";
				left: -75px;
			}
			&:after {
				content: " ";
	    		right: -75px;
			}
		}
	}
}
@include media-breakpoint-down(sm) { 
	.wrapper-blockquote {
		blockquote {
			max-width: 450px;
		}
	}
}
@include media-breakpoint-down(xs) { 
	.wrapper-blockquote {
		blockquote {
			max-width: 350px;
			&:before, &:after {
				content: " ";
				display: none;
			}
		}
	}
}