.wrapper-blockquote {
	margin-top: 93px;
	margin-bottom: 266px;
	blockquote {
		max-width: 1000px;
		width: 100%;
		margin: 0 auto;
		position: relative;
		&:before {
			content: " ";
			background: url(../images/quotes-left.svg) center center / cover;
			height: 50px;
			width: 50px;
			position: absolute;
			top: 0;
			left: 0;
		}
		&:after {
			content: " ";
			background-image: url('../images/quotes-right.svg');
			height: 50px;
			width: 50px;
			position: absolute;
			bottom: 0;
			right: 0;
		}
		p {
			font-size: 1.75rem;
			line-height: 3.125rem;
			margin-bottom: 25px;
		}
		footer {
			color: $secondary-color;
			font-size: 1.375rem;
			line-height: 2.1875rem;
			letter-spacing: 3.3px;
			text-transform: uppercase;
		}
	}
}