.wrapper-exercises {
	img {
		width: 301px;
		height: 301px;
	}
}

.wrapper-our-team {
	.container-img {
		img {
			height: 369px;
			width: 369px;
						-webkit-box-shadow: 12px 12px 0px 12px rgba(134,40,134,1);
			-moz-box-shadow: 12px 12px 0px 12px rgba(134,40,134,1);
			box-shadow: 12px 12px 0px 12px rgba(134,40,134,1);
		}
	}
}

.wrapper-classes {
	.container-classes-items {
		img {
			height: 369px;
			width: 369px;
		}
	}
}