.wrapper-blockquote {
	padding-top: 93px;
	margin-bottom: 260px;
	overflow: hidden;
	blockquote {
		max-width: 1000px;
		width: 100%;
		margin: 0 auto;
		position: relative;
		&:before, &:after {
			content: " ";
			height: 40px;
			width: 60px;
			position: absolute;
		}
		&:before {
			content: " ";
			background: url('../images/quote-l.svg') center center / cover;
			top: -15px;
			left: -85px;
		}
		&:after {
			content: " ";
			background: url('../images/quote-r.svg') center center / cover;
			bottom: 80px;
    		right: -85px;
		}
		p {
			margin-bottom: 25px;
			color: #000;
			line-height: 3.125rem;
			font-size: 1.75rem;
		}
	}
}

@include media-breakpoint-down(lg) { 
	.wrapper-blockquote {
		padding-top: 3rem;
		margin-bottom: 4rem;
		overflow: hidden;
	}
}