.wrapper-exercises {
	img {
		width: 301px;
		height: 301px;
	}
}

.wrapper-our-team {
	.container-img {
		img {
			height: 369px;
			width: 369px;
		}
	}
}

.wrapper-classes {
	.container-classes-items {
		img {
			height: 369px;
			width: 369px;
		}
	}
}