.wrapper-card {
	/*padding-bottom: 260px;*/
	.classes-title {
		max-width: 969px;
		width: 100%;
		margin: 0 auto;
		p {
			font-size: 1.75rem;
			line-height: 2.8125rem;
			margin-top: 55px;
			margin-bottom: 72px;
			em {
				color: $secondary-color;
			}
		}
	}
	.col-12 {
		margin-bottom: 20px;
	}
	.card {
		height: 100%;
		border-radius: 20px;
		border: none;
		-webkit-box-shadow: 0px 0px 17px 0px rgba(160,141,180,0.12);
		-moz-box-shadow: 0px 0px 17px 0px rgba(160,141,180,0.12);
		box-shadow: 0px 0px 17px 0px rgba(160,141,180,0.12);
		.card-img-top {
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
		}
		.card-body {
		    padding-top: 35px 40px 60px 40px;
		}
		p {
			color: #6e6e6e;
			margin-bottom: 50px;
		}
	}
}
@include media-breakpoint-down(lg) {
	.wrapper-card {
		padding-top: 6rem;
		/*padding-bottom: 6rem;*/
		.classes-title {
			p {
				font-size: 1.075rem;
				line-height: 1.8875rem;
				margin-top: 3rem;
				margin-bottom: 3.5rem;
			}
		}
		.card {
			max-width: 350px;
			margin: 0 auto;
			.card-body {
			    padding-top: 20px 15px 30px 15px;
			}
		}
	}
}