.wrapper-form {
	padding-top: 100px;
	padding-bottom: 70px;
	position: relative;
	background-color: #fff;
	.map-form {
		background: url('../images/map.jpg') center center / contain;
		position: absolute;
		height: 505px;
	    width: 453px;
	    right: 0;
	    bottom: 0;
	}
	h6 {
		margin-bottom: 1.2rem;
	}
	.wrap-contact {
		a {
			display: inherit;
			&:hover {
				text-decoration: none;
			}
		}
		p {
			padding-left: 23px;
		}
		li {
			display: flex;
		}
		.fa {
			font-size: 18px;
			line-height: 1.75rem;
			font-weight: 600;
			color: $secondary-color;
		}
		.diffr-color {
			&:hover {
				color: $secondary-color;
			}
		}
		.add-pad {
			padding-left: 10px;
		}
	}
	.form-title {
		margin-bottom: 42px;
	}
	.col-lg-5 {
	    -ms-flex: 0 0 34.666667%;
	    flex: 0 0 34.666667%;
	    max-width: 34.666667%;
	}
	form {
		textarea , input {
			border-bottom: 1px solid #979797;
			border-top: none;
			border-left: none;
			border-right: none;
			background-color: initial;
			color:#6e6e6e;
		}
		input {
			padding: 0.3rem 0.75rem 0.3rem 0;
			&:focus {
			    color:#6e6e6e;
			    background-color: initial;
			    border-color: none;
			    outline: 0;
			    box-shadow: none;
			}
		}
		textarea {
		    height: calc(5.25rem + 2px);
		    padding: 0.375rem 0.75rem 0.375rem 0;
		    transition: none;
		    &:focus {
			    color: #6e6e6e;
			    background-color: initial;
			    border-color: none;
			    outline: 0;
			    box-shadow: none;
			}
		}
		.btn-md {
			margin-top: 38px;
		}
	}
}
@include media-breakpoint-down(lg) { 
	.wrapper-form {
		padding-bottom: 450px;
		.map-form {
			height: 430px;
		    width: 100%;
		}
	}
	.col-md-7 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 58.33333333%;
	    flex: 0 0 58.33333333%;
	    max-width: 58.33333333%;
	}
	.col-md-5 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 41.66666667%;
	    flex: 0 0 41.66666667%;
	    max-width: 41.66666667%;
	}
}
@include media-breakpoint-down(md) { 
	.wrapper-form {
		padding-bottom: 370px;
		.col-12 {
		    -webkit-box-flex: 0;
		    -ms-flex: 0 0 100%;
		    flex: 0 0 100%;
		    max-width: 100%;
		}
		.map-form {
			position: absolute;
			height: 350px;
		}
		h6 {
			text-align: center;
		}
	}
}