header {
	border-top: 9px solid $secondary-color;
	padding-top: 60px;
	z-index: 200;
	background-color: #fff;
	.btn {
		margin-left: 9px;
	}
}
.navbar {
	padding: 0.5rem 0;
}
.navbar-nav {
	display: flex;
	.nav-link {
		font-size: 0.9375rem;
		line-height: 0.9375rem;
		letter-spacing: 2px;
		text-transform: uppercase;
		padding: 0.67rem 1rem;
		&:hover {
			color: #a551a5;
		}
		&:active {
			color: #a551a5;
		}
		&:focus {
			color: #a551a5;
		}
	}
}
.fa-bars {
	display: none;
	font-size: 1.5rem;
	color: $secondary-color;
}	
.fa-times {
	position: absolute;
	left: 10px;
	top: 15px;
	font-size: 1.3rem;
	display: none;
	color: $secondary-color;
}
.navbar {
    padding: 1rem 0;
}
@include media-breakpoint-down(lg) {
	header {
		.navbar-brand {
			width: 40%;
		}
	}
	.fa-bars, .fa-times {
		display: block;
	}
	.navbar-nav {
		display: initial;
			-webkit-box-shadow: 0px 0px 17px 0px rgba(160,141,180,0.12);
		-moz-box-shadow: 0px 0px 17px 0px rgba(160,141,180,0.12);
		box-shadow: 0px 0px 17px 0px rgba(160,141,180,0.12);
	}
	.hidden-menu {
		border-top: 9px solid $secondary-color;
		position: fixed;
		list-style:none;
		padding-left: 20px;
		padding-right: 25px;
		margin: 0;
		padding-top: 16px;
		box-sizing: border-box;
		text-align: center;
		width: 250px;
		background-color: #fff;
		height: 100%;
		top: 0;
		right: -250px;
		transition: right .2s;
		z-index: 2;
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;
	}
	.js--nav {
		 right: 0px;
	}
}
@include media-breakpoint-down(lg) {
	header {
		padding-top: 0px;
		top: 0;
		position: fixed;
		width: 100%;
		.btn {
			margin-left: 0;
		}
		.navbar-brand {
			width: 42%;
			img {
				width: 100%;
			}
		}
	}
}
@include media-breakpoint-down(sm) { 
	header {
		.navbar-brand {
			width: 55%;
		}
	}
}

