header {
	border-top: 9px solid $secondary-color;
	padding-top: 60px;
	z-index: 200;
	background-color: #fff;
	.btn {
		margin-left: 9px;
	}
}
.disabled-scrolling {
	overflow: hidden !important;
}

.fa-bars {
	display: none;
	font-size: 1.5rem;
}
.navbar {
	    padding: 0.5rem 0;
}
.navbar-nav {
	display: flex;
	.nav-link {
		&:hover {
			color: #a551a5;
		}
		&:active {
			color: #a551a5;
		}
		&:focus {
			color: #a551a5;
		}
	}
}
.hidden-menu-ticker {
	display: none;
}
@include media-breakpoint-down(lg) {
	header {
		.navbar-brand {
			width: 40%;
		}
	}
}
@include media-breakpoint-down(md) {
	header {
		padding-top: 0px;
		top: 0;
		position: fixed;
		width: 100%;
		.btn {
			margin-left: 0;
		}
		.navbar-brand {
			width: 42%;
			img {
				width: 100%;
			}
		}
	}
	.hidden-menu-ticker {
		display: block;
	}
	.navbar {
	    padding: 1rem 0;
	}
	.hidden-menu {
	  border-top: 9px solid $secondary-color;
	  display: block;
	  position: fixed;
	  list-style:none;
	  padding-left: 20px;
	  margin: 0;
	  padding-top: 16px;
	  box-sizing: border-box;
	  width: 310px;
	  background-color: #fff;
	  height: 100%;
	  top: 0;
	  right: -310px;
	  transition: right .2s;
	  z-index: 2;
	  -webkit-transform: translateZ(0);
	  -webkit-backface-visibility: hidden;
	}
	.hidden-menu-ticker {
	  display: none;
	}
	.btn-menu {
	  color: $secondary-color;
	  background-color: initial;
	  padding: 2px;
	  /*position: fixed;
	  top: 11px;
	  right: 5px;*/
	  cursor: pointer;
	  transition: right .23s;
	  z-index: 3;
	  width: 24px;
	  -webkit-transform: translateZ(0);
	  -webkit-backface-visibility: hidden;
	  margin-bottom: 0px;
	}
	.btn-menu {
		span {
		  display: block;
		  height: 2px;
		  background-color: $secondary-color!important;
		  margin: 5px 0 0;
		  transition: all .1s linear .23s;
		  position: relative;
		}
	}
	.btn-menu {
		span.first {
		  margin-top: 0;
		}
	}
	.hidden-menu-ticker:checked ~ {
	  .btn-menu {
	    right: 260px;
	  }
	  .hidden-menu {
	    right: 0;
	  }
	  .btn-menu span {
	    &.first {
	      -webkit-transform: rotate(45deg);
	      top: 5px;
	    }
	    &.second {
	      opacity: 0;
	    }
	    &.third {
	      -webkit-transform: rotate(-45deg);
	      top: -10px;
	    }
	  }
	}
}
@include media-breakpoint-down(sm) { 
	header {
		.navbar-brand {
			width: 55%;
		}
	}
	.hidden-menu {
	  text-align: left;
	  width: 220px;
	  right: -200px;
	}
}

