.wrapper-hero {
	padding-top: 207px;
	padding-bottom: 207px;
	position: relative;
	h2 {
		width: 100%;
		display: block;
		margin-bottom: 60px;
		em {
			color: $secondary-color;
		}
	}
}
.bg-hero {
	background-repeat: no-repeat;
	width: 600px;
	height: 700px;
	background-size: contain;
	position: absolute;
	top: 90px;
}

@include media-breakpoint-down(lg) { 
	
}