.wrapper-hero {
	overflow: hidden;
	h2 {
		max-width: 762px;
		width: 100%;
		display: block;
		margin-bottom: 60px;
		z-index: 101;
		/*&:before {
			content: " ";
			background: url('../images/pilates.png') center center / contain;
			background-repeat: no-repeat;
			max-width: 670px;
		    width: 100%;
		    max-height: 640px;
		    height: 100%;
			position: absolute;
			left: -150px;
			top: -200px;
			overflow: hidden;
		}*/
		em {
			color: $secondary-color;
		}
	}
}
.bg-hero {
	background-repeat: no-repeat;
	max-width: 670px;
    width: 100%;
    max-height: 640px;
    height: 100%;
	background-size: contain;
	position: absolute;
	top: 0;
	left: -120px;
	
}
.wrap-title-hero {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	position: relative;
	height: 780px;
}
@include media-breakpoint-down(lg) { 

}
@include media-breakpoint-down(md) { 
	.wrapper-hero {
		margin-bottom: 3rem;
		h2 {
			margin-bottom: 30px;
		}
	}
	.wrap-title-hero {
		height:630px;
		text-align: center;
		justify-content: flex-end;
		.btn-lg {
			margin: 0 auto;
		}
	}
	.bg-hero {
		background-repeat: no-repeat;
		max-width: 200px;
	    width: 100%;
	    height: 100%;
		background-size: contain;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%);
	}
}