.wrapper-hero {
	overflow: hidden;
	position:relative;
		z-index: 101;
	h2 {
		max-width: 762px;
		width: 100%;
		display: block;
		margin-bottom: 60px;
		z-index: 105;
		em {
			color: $secondary-color;
		}
	}
}
.bg-hero {
	position: absolute;
	top: 0;
	left: -120px;	
}
.wrap-title-hero {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	position: relative;
	padding: 300px 0 149px 0;
}
@include media-breakpoint-down(lg) { 
	.wrapper-hero {
		padding-top: 85px;
		h2 {
			padding-bottom: 30px;
			margin: 0 auto;
		}
	}
	.wrap-title-hero {
		padding: 0;
		/*height:500px;*/
		text-align: center;
		justify-content: flex-end;
		.btn-lg {
			margin: 0 auto;
		}
	}
	.bg-hero {
		position: static;
		margin: 0 auto;
		img {
	   		max-height: 200px;
		}
	}
}
@include media-breakpoint-down(sm) {
	.bg-hero {
		img {
	   		max-height: 250px;
		}
	}
}