.wrapper-prising {
	table {
		span {
			font-size: 0.9375rem;
		}
		.br-radius-l, .br-radius-r {
			padding-top: 30px;
			padding-bottom: 30px;	
		}
		.br-radius-l {
			border-top-left-radius: 20px;
		}
		.br-radius-r {
			border-top-right-radius: 20px;
		}
	}
	th {
		font-size: 1.375rem;
		line-height: 1.875rem;
		font-weight: 600;
		text-transform: uppercase;
		background-color: $secondary-color;
		color: #fff;
		letter-spacing: 3.3px;
		border-top: none!important;
		border-bottom: 8.5px solid #e1cae0!important;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	td {
		font-size: 1.5rem;
		line-height: 1.875rem;
		padding-top: 20px;
		padding-bottom: 20px;
		width: 275px;
		em {
			font-size: 1.125rem;
			font-weight: 700;
		}
	}
	.border-r {
		background-image: linear-gradient(black 33%, rgba(255,255,255,0) 0%);
		background-position: right;
		background-size: 0.5px 3px;
		background-repeat: repeat-y;

	}
	.border-bottom {
		border-bottom: 8.5px solid $secondary-color!important;
	}
	.bg-white {
		background-color: #fff;
	}
	.bg-int {
		background-color: initial;
		border-bottom: none!important;
	}
	p {
		color: #6e6e6e;
		em {
			font-weight: 600;
		}
	}
	.intro, .regular { 
		background-repeat: no-repeat;
		border-bottom: 8.5px solid #862886 !important;
		padding-left: 23px;
		padding-right: 23px;
		background-position: center;
	}
	.intro {
		background-color: #e1cae0;
	}
	.regular {
		background-color:$secondary-color;
	}
	h4 {
		padding-top: 45px;
		padding-bottom: 30px;
	}
}
@include media-breakpoint-down(md) { 
	.wrapper-prising {
		th {
			font-size: 1.075rem;
			line-height: 1.475rem;
			letter-spacing: 2.7px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		td {
			font-size: 1.2rem;
		    line-height: 1.575rem;
		    padding-top: 10px;
		    padding-bottom: 10px;
			em {
				font-size: 0.925rem;
				font-weight: 700;
			}
		}
		h4 {
			padding-top: 35px;
			padding-bottom: 20px;
		}
	}
}