$primary-color: #000;
$secondary-color:#862886;

// bootstrap 
$body-bg: #ffff;
$body-color: $primary-color;
$font-family-base: 'Raleway', sans-serif;
$warning: $secondary-color;
$border-radius: 0;
$btn-font-weight:600;
$primary:$secondary-color;
$secondary:$primary-color;


$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px
) !default;



$font-color: #000;



$font-size-small:12px;
$fa-font-path:   "../fonts";

$font-family-base: 'Raleway', sans-serif;
$font-family-primary: 'Raleway', sans-serif;