@import "vars";
@import "mixins";

// Vendors
@import "~bootstrap/scss/bootstrap";

@import "base";
@import "layout";
@import "blocks/blocks";
@import "blocks/header";
@import "blocks/hero";
@import "blocks/our-team";
@import "blocks/blockquote";
@import "blocks/card";


/*nav {
  display: block;

  a {
    display: inline-block;
    padding: 1em 2em;
    &.active {
      color: teal;
    }
  }
}*/
